@tailwind base;

@tailwind components;
@layer components {
  label {
    font-weight: 600;
    display: block;
  }
  math {
    math-style: normal;
    @apply text-xl font-semibold;
  }
  dialog {
    @apply w-3/5;
    @apply border-slate-400;
    @apply border-2;
  }
  input, select {
    display: block;
    width: 100%;
    font-weight: 400;
    @apply !rounded;
    @apply !border-slate-400;
  }
  img {
    @apply aspect-video;
  }
  .btn {
    @apply rounded-md px-3 py-1.5 text-white;
  }
  .btn-primary {
    @apply bg-primary-500 hover:bg-primary-600;
  }
  .btn-secondary {
    @apply bg-secondary-500 hover:bg-secondary-600;
  }
  .btn-danger {
    @apply bg-danger-500 hover:bg-danger-600 border-danger-600;
  }
  .nav-tabs {
    @apply p-0 -mb-10 list-none flex;
  }
  .nav-item {
    @apply px-4 py-1 border border-gray-300 rounded-t-md bg-gray-100;
  }
  .nav-item:not(.active) a {
    @apply text-gray-500;
  }
  .nav-item.active {
    @apply bg-white;
  }
  .nav-item:hover:not(.active) {
    @apply bg-white;
  }
}

@tailwind utilities;
@layer utilities {
  .text-success {
    @apply text-success-600
  }
  .text-warning {
    @apply text-warning-600
  }
  .text-danger {
    @apply text-danger-500
  }
}






